.homepage {
  padding: 5em 20%;
  display: flex;
  gap: 32px;
  h2 {
    font-size: 1.75rem;
  }
  button {
    font-size: 1rem;
    padding: 0.25em 0.5em;
    cursor: pointer;
  }
  p {
    font-size: 1rem;
  }
  .homepage-body {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
